:root {
  // Colors
  --white: #ffffff;
  --primary-background: linear-gradient(125.42deg, #f9f9f9 0%, #f6f6f6 100%);
  --grey: #a2a2a2;
  --light-grey: #c4c4c4;
  --dark-grey: #646464;
  --base-grey: #737373;

  // * Primary
  --green: #009a4b;
  --red: #ff0000;
  --yellow: #ffb200;
  --purple: #5700da;
  --blue: #3a86db;

  --standard-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
  --card-radius: 8px;
}
