:root {
  // Colors
  --white: #fafafa;
  --primary-background: #e5e5e5;
  --grey: #a2a2a2;
  --light-grey: #c4c4c4;
  --dark-grey: #646464;
  --base-grey: #737373;

  // * Primary
  --green: #009a4b;
  --red: #ff0000;
  --yellow: #ffb200;
  --purple: #5700da;
}
