.container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  column-gap: 16px;
  padding: 26px 18px 24px 18px;
  border-radius: 8px;
  align-items: center;
  background-color: var(--white);
  box-shadow: var(--standard-shadow);
  text-transform: capitalize;
  a {
    text-decoration: none;
  }
}

[data-card-variant="SLIM"] {
}
[data-card-variant="PROFILE"] {
  &.container {
    background-color: #f7f7f7;
    box-shadow: none;
    max-width: 365px;
  }
  .status__symbol {
    width: 87px;
    svg {
      width: 87px;
    }
  }
}

.status__symbol {
  display: grid;
  place-items: center;
  width: 47px;

  &[data-state="UNKNOWN"] {
    path {
      fill: var(--light-grey);
    }
  }
  &[data-state="ok"] {
    path {
      fill: var(--green);
    }
  }
  &[data-state="being-tested"] {
    path {
      fill: var(--purple);
    }
  }
  &[data-state="at-risk"] {
    path {
      fill: var(--yellow);
    }
  }
  &[data-state="infected"] {
    path {
      fill: var(--red);
    }
  }
}

.person-actions__container {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 10px;
  justify-content: end;
}

.action-send {
  display: grid;
  align-content: start;
}

.edit__options {
  background-color: var(--white);
  border-radius: var(--card-radius);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 6px;
  position: absolute;
  right: 0;
  top: 50px;
}

.options__btn {
  background-color: var(--blue);
  padding: 5px 0;
  overflow: hidden;
  border-bottom-left-radius: var(--card-radius);
  border-bottom-right-radius: var(--card-radius);
  text-align: center;
  color: var(--white);
  font-weight: 700;
}
