.container {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 20px;
  max-width: 345px;
  padding: 15px 10px;
  border-radius: 8px;
  background-color: var(--white);
}

.card__content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  line-height: 1;
  text-align: left;
}

.status__container {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 10px;
  align-items: center;
}
